---
layout: page
title: "About"
description: "Hey, this is Yi."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->


    <p>Hey，我是<strong>羿舒文</strong>，我是武汉大学电子信息学院的ph.D学生。我在整个大学研究生学习过程中，受到了很大的阻力。一是大多数先进的资料都由英文撰写，母语不是英语的我相比于中文，阅读起来相对不易；二是在学习过程中，许多资料不够权威，较为零散，需要很多时间进行拼凑，很容易形成支离破碎的知识片段。搭建这个博客的目的主要是想以一种简单具有条理的方式将知识组织起来，一来作为笔记加深对知识的理解，方便自己将来查阅，二来希望促进中文的技术交流。目前博客只有简单的阅览功能，后续将开放评论，欢迎大家交流。博客中难免会出现纰漏与错误，欢迎批评指正！</p>

    <p>这是我的个人博客。欢迎来访~</p>

    
</div>

<!-- English Version -->
<!-- <div class="en post-container">

    <p>Hi, I am <strong>Yi Shuwen</strong></p>

    <p>This is my personal blog.</p>

</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

